<header id="questionnaireStart">
  <div class="parallax-container">
    <div class="parallax">
      <img src="images/image1.png" alt="cat and dog snuggling">
    </div>
  </div>
  <div class="section white">
    <div class="row container center">
      <h1>Pet Finder</h1>
      <p class="header">Make your selection below, and find your perfect pet!</p>
      <a href="#questionSection" class="waves-effect waves-light btn-large survey-btn">Get Started</a>
    </div>
  </div>
</header>

<article>
  {{#each questions}}
    <div class="hide" id="questionSection-{{id}}">
      <div class="section-survey">
        <div class="row container center">
          <div class="col m12">
            <p> - QUESTION
              <span id="questionNo">{{questionNo}}</span> OF 11 - </p>
            <h4 id="q{{id}}" class="center question">{{question}}</h4>
          </div>
        </div>
        <div class="progress">
          <div class="determinate" style="width: {{progress}}"></div>
        </div>
      </div>
      <div id="answers" class="row container center">
        <div class="col m12">
          {{#if selectOption}}

            <div class="input-field col s12">
              <select id="select-{{id}}">
                <option value="" disabled selected>Choose your option</option>
                {{#each answers}} 
                <option value={{option}}>{{option}}</option>
                {{/each}}
              </select>
              <label>Materialize Select</label>
            </div>

          {{else if checkbox}}
            <form action="#">
              {{#each answers}} 
                <p>
                  <label>
                    <input type="checkbox" value="{{descriptor}}">
                    <span>{{option}}</span>
                  </label>
                </p>
              {{/each}}
            </form>
          {{else}}
            {{#each answers}} 
              {{#if autocomplete}}
                <div class="row">
                  <div class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Autocomplete - click after typing to see matches</label>
                      </div>
                    </div>
                  </div>
                </div>
              {{else if textBox}}
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="12345" id="zip_code_{{id}}" type="number" class="validate">
                      <label for="first_name">Zip Code - Required</label>
                    </div>
                  </div>
                </form>

              {{else}}
                <button class="btn-large answer-tile" data-ajax={{ajax}}>
                  <img src="/images/{{icon}}" width="100px">
                  <p>{{option}}</p>
                </button>
              {{/if}} 
            {{/each}}
          {{/if}}
          </div>
          <a class="waves-effect waves-light btn-large survey-btn survey-answer-btn" id="next-btn-{{id}}">Next Question</a>
        </div>
      </div>
    {{/each}}
{{!-- Ranking each characteristic section --}}
{{!-- <ul>
  {{#each questions}}
    <li id="ql{{id}}" class="center question">{{question}}</li>
  {{/each}}
</ul> --}}
</article>

{{!-- User SignIn Code --}}
<section id="userSignInSection">
  <div class="container" id="userSignInBox">
      <div class="row">
          <form class="col s12" id="reg-form">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" required>
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" required>
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" minlength="6" required>
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
      
              <div class="input-field col s6">
                <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action" id="register-btn">Register
                  <i class="material-icons right">done</i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <a title="Login" class="ngl btn-floating btn-large waves-effect waves-light red"><i class="material-icons">input</i></a>
      </div>
    </section>
    
{{!-- Results Handlebar Page Default Hidden --}}
<section id="results" class="hide">
<div class="parallax-container">
  <div class="parallax"><img src="images/doggies.png" alt="cat and dog snuggling"></div>
</div>

<div class="section white results-section">
    <div class="row container center">
        <div class="row container center">
          {{#each results}}
              <h3>Top Results{{test1}}</h3>
            {{/each}}
            
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class= "activator" src="images/image1.png">
                    </div>

                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pet Name</span>
                        <p><a href="#">Link to petfind url</a></p>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Pet Name<i class="material-icons right">close</i></span>
                        <p>About: Here is some more information about this product that is only revealed once clicked on.e more information about this product that is only revealed once clicked oe more information about this product that is only revealed once clicked o</p>
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Save</a>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class= "activator " src="images/image1.png">
                    </div>

                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pet Name</span>
                        <p><a href="#">Link to petfind url</a></p>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Pet Name<i class="material-icons right">close</i></span>
                        <p>About: Here is some more information about this product that is only revealed once clicked on.e more information about this product that is only revealed once clicked oe more information about this product that is only revealed once clicked o</p>
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Saved Pets</h4>
        
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1 quicksave">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img class="circle responsive-img saveImg" src="images/image1.png" width="100px" height="150px"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>

    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1 quicksave">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img class="circle responsive-img saveImg" src="images/image1.png" width="100px" height="150px"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>   
    </div>
</div>


  <script>
    $(document).ready(function(){
    $('.modal').modal();
  });
  </script>

</section>
