<main id="results">
<div class="parallax-container">
  <div class="parallax"><img src="images/doggies.png" alt="cat and dog snuggling"></div>
</div>

<section id="reload">
  <div class="container">
  <h1>Thanks for visting <span style="color:rgb(63, 70, 158); font-weight: 400;">Pets Cupid.com.</span> We are glad to provide you with your top pet matches and hope that our pets can find a home with you.</h1>
  <input id="reloadBtn" class="waves-effect waves-light btn-large" type="submit" value="See your Results" onClick="window.location.reload()">
</div>
</section>

<div class="section white results-section">
    <div class="row container center">
        <div class="row container center">
              
          {{#each results}}
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class= "activator" src="{{largePhoto}}">
                    </div>

                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{name}}</span>
                        <p><a target="_blank" href="{{url}}">PetFinder Url</a></p>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
                        <p>{{about}}</p>
                        <a class="waves-effect waves-light btn modal-trigger save-btn" id="id{{petId}}">Save</a>
                    </div>
                </div>
            </div>
             {{/each}}
        </div>
    </div>
</div>

</main>